/* Global style */
body {
  background-color: #8B0000;
  color: #000;
  font-family: Arial, sans-serif;
}

/* Container Style */
.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 400px;
  margin: 2rem auto;
}

/* Input Box Style */
.form-control {
  border: 2px solid #FFA500 !important;
  /* Yellow border */
  background-color: #fff !important;
  /* white background  */
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
}

/* Submit Button Style */
.btn-primary {
  background-color: #FFA500 !important;
  /* Yellow Buttons */
  border: none;
  color: #000;
  /* Black letter */
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #FF8C00 !important;
  /* Orange button */
}
